.userP{
    height: calc(100vh - 5vw - 2vw);
    width: 100%;
    display: grid;
    grid-template-columns: 1vw 1fr 1vw 1fr 1vw;
    grid-template-rows: 1vw 1fr 1vw;
}
/* ----------------------------------------- */
.left{
    grid-row: 2/3;
    grid-column: 2/3;
    height: 100%;
    width: 100%;
}
.input{
    width: calc(100% - 0.5vw);
    height: 3vw;
    border-radius: 3vw;
    border: 0px solid #00000000;
}
.web{
    margin-top: 1vw;
    width: 100%;
}
/* ----------------------------------------- */
/* .right{
    grid-row: 2/3;
    grid-column: 4/5;
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: flex-start;
}
.fio{
    width: calc((100% / 3 * 2) - 1vw);
    text-align: right;
    margin-right: 1vw;
    font-size: 00%;
    height: calc(50vh - 5vw - 2vw);
}
.avaq{
    width: calc(100% / 3 );
    height: calc(50vh - 5vw - 2vw);
}
.ava{
    width: calc(100% / 3 );
    border-radius: 50%;
}
.title{
    margin-top: 1vw;
    margin-bottom: 1vw;
    width: 100%;
}
.cont{
    width: 100%;
} */