.app{
    height: 100%;
    width: 100%;
    background-color: #A2B7DE1A;
    display: flex;
    flex-direction: column;
    font-family: 'Futura PT', sans-serif;
}
.header{
    height: 5vw;
    width: 100%;
    background-color: #1F3E7C;
}
.plate{
    margin: 1vw;
    height: calc(100vh - 5vw - 2vw);
    width: calc(100% - 2vw);
    background-color: #A2B7DF80;
}
.gallery{
    margin: 1vw;
    height: calc(100vh - 5vw - 2vw);
    width: calc(100% - 2vw);
}